#titulop{
    background-color: darkseagreen;
    color: palegreen;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    
}
.titulo{
    color: azure;
    background-color: aqua;
    text-align: center;
    font-family: monospace;
}
p{
    color: darkseagreen;
    background-color: azure;
    text-align: center;
}
.imagen{
    display: block;
    float: center;
    text-align: center;
}